# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Vim
*.swp


#jetbrains
.idea


#lldb
*.dSYM



#cmake
cmake-build-*


*
!/**/
!*.c
!*.cc
!*.cpp
!*.h
!*.hh
!*.hpp
!CMakeLists.txt
build/
cmake-build-*
!gcc_list
!*.tcc
!*.sh
!smap
!benchmarks/
!*.txt
!*.crtx
!*.xlsx
!*.xltx
~$*
!*.csv
!*.json
!benchmarks/google\ benchmark/tools/compare
!benchmarks/google\ benchmark/tools/compare/BUILD.bazel
!benchmarks/google\ benchmark/tools/compare/*.py
!benchmarks/google\ benchmark/tools/compare/*.pyc